@import "tw-animate-css";
@import "shadcn/tailwind.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
  }
  :root {
    --background: #F9FAFB;
    --foreground: #111827;
    --card: #FFFFFF;
    --card-foreground: #111827;
    --popover: #FFFFFF;
    --popover-foreground: #111827;
    --primary: #1E3A8A;
    --primary-foreground: #FFFFFF;
    --secondary: #F3F4F6;
    --secondary-foreground: #1E3A8A;
    --muted: #F3F4F6;
    --muted-foreground: #6B7280;
    --accent: #3B82F6;
    --accent-foreground: #FFFFFF;
    --destructive: #EF4444;
    --border: #E5E7EB;
    --input: #E5E7EB;
    --ring: #3B82F6;
    --chart-1: #1E3A8A;
    --chart-2: #3B82F6;
    --chart-3: #10B981;
    --chart-4: #F59E0B;
    --chart-5: #EF4444;
    --radius: 0.5rem;
    --sidebar: #1E3A8A;
    --sidebar-foreground: #FFFFFF;
    --sidebar-primary: #3B82F6;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: #2548a8;
    --sidebar-accent-foreground: #FFFFFF;
    --sidebar-border: #2548a8;
    --sidebar-ring: #3B82F6;
    --success: #10B981;
    --warning: #F59E0B;
    --danger: #EF4444;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}